/* Colors */

$primary-color: #29335c;
$background-color-primary: #f1faee;
$background-color-secoundary: #f9f9f9;
$link-color: #2a9d8f;
$link-color-hover: #0f766a;
$text-color-dark: #2c2828;
$text-color-light: #eee;
$border-color: #8d99ae;
$light-green: #b7e4c7;
$dark-green: #52796f;
$red: #db2b39;

/* Transitions */

$ease: ease-in-out 0.4s;

/* Shadows */

$box-shadow: rgb(0 0 0 / 15%) 5px 5px 10px;
