.badge__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.badge__item {
  background-color: $dark-green;
  color: $text-color-light;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid $border-color;
  box-shadow: $box-shadow;
}
