.pagination {
  display: flex;

  button {
    border: 1px solid $border-color;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    transition: $ease;
    cursor: pointer;
    color: $text-color-dark;
    &:hover {
      background-color: $light-green;
      color: $text-color-light;
      border: 1px solid $light-green;
    }
    &:disabled {
      opacity: 0.3;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &__item-selected {
    button {
      color: $text-color-light; /* selected text color */
      background-color: $dark-green;
      &:hover {
        background-color: $dark-green;
        color: $text-color-light;
        border: 1px solid $border-color;
        cursor: auto;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__dots {
    color: $dark-green;
    margin-bottom: 10px;
  }
}
