.repository-card {
  width: 100%;
  border: 1px solid #ccc;
  background-color: $background-color-secoundary;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  &__name {
    font-size: 1.5rem;
    margin: 0;
  }

  &__metadata {
    min-width: 200px;
    display: flex;
    & > span {
      margin-right: 1rem;
      font-weight: bold;
    }
  }

  @media only screen and (max-width: $breakpoint-lg) {
    flex-direction: column;
    gap: 15px;
  }
}

.repository-card__info-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.repository-card__title {
  display: flex;
  gap: 15px;
}

//

.top-results__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
