.dropdown {
  position: relative;
  background: $background-color-secoundary;
  border: 1px solid $border-color;
  text-transform: capitalize;

  &__list {
    transition: max-height 0.6s ease-out;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;

    &--active {
      max-height: 1000px;
      opacity: 1;
    }

    &__arrow {
      display: block;
    }
  }

  &__list-item {
    border-bottom: 1px solid $text-color-light;
    cursor: pointer;
    list-style: none;
    padding: 15px;

    &--active {
      background: #f4f4f4;
    }

    &:hover {
      background: #f4f4f4;
    }
  }

  &__toggle {
    &:hover {
      background: #fff;
    }

    background: #fff;
  }
}

.dropdown__top-section {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
